@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif, "arial", sans-serif;
  letter-spacing: 0.5px;
  color: #454545;
}
body section {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .content {
  margin: 80px 25px;
}
body h1,
body h2,
body h3 {
  font-family: "Cinzel", "Helvetica Neue", "Helvetica", "Arial";
}
body h2 {
  margin-bottom: 55px;
  text-align: center;
}
body p {
  text-align: justify;
}
body a {
  color: inherit;
}
@media screen and (min-width: 700px) {
  body .content {
    margin: 90px auto;
    width: 800px;
  }
}

.nav {
  position: sticky;
  width: 100%;
  height: auto;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  z-index: 99;
  background-color: #202527;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  box-shadow: 0px 1px 5px 0px #616161;
  -webkit-box-shadow: 0px 1px 5px 0px #616161;
  -moz-box-shadow: 0px 1px 5px 0px #616161;
}
.nav img {
  width: 70px;
  height: auto;
}
.nav .burger-btn {
  font-size: 38px;
  color: #ffffff;
  cursor: pointer;
}
.nav .nav-items {
  position: absolute;
  right: 0px;
  width: auto;
  height: 100vh;
  top: 80px;
  background-color: #202527;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  color: #ffffff;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.4rem;
  display: none;
  padding: 10px 20px;
}
.nav .nav-items.active {
  display: block;
}
.nav .fa-user {
  font-size: 2rem;
}
.nav .nav-item {
  padding: 15px 0;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 32vh;
    padding: 10px 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .nav img {
    margin: 0 auto;
    width: 140px;
  }
  .nav .fa-bars {
    display: none;
  }
  .nav .fa-user {
    font-size: 1.4rem;
  }
  .nav .nav-items {
    position: inherit;
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border: none;
  }
  .nav .nav-items .nav-item {
    font-size: 1.2rem;
    padding: 0;
  }
  .nav .nav-items .nav-item:hover {
    color: #454545;
  }
}
.header {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .background-img {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("./assets/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  filter: brightness(55%);
  z-index: -1;
}
.header .header-content {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.header .header-content .header-text {
  margin-bottom: 30px;
  font-size: 1.8rem;
  color: #ffffff;
}
.header .header-content .header-btns .header-btn {
  width: fit-content;
  margin: 0 auto;
  padding: 12px 15px;
  border: 1.5px solid #ffffff;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.header .header-content .header-btns .menu {
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .header {
    height: 68vh;
  }
  .header .header-content {
    width: auto;
    height: 50%;
  }
  .header .header-content .header-text {
    font-size: 2rem;
    margin: 0;
  }
  .header .header-content .header-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header .header-content .header-btns .header-btn {
    margin: 0;
    padding: 12px 30px;
  }
  .header .header-content .header-btns .header-btn:hover {
    border: 1.5px solid #454545;
    color: #eaeaea;
  }
  .header .header-content .header-btns .menu {
    margin: 0;
  }
}
.bestDishes {
  background-color: #eaeaea;
}
.bestDishes .content .bestDishes-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.bestDishes .content .bestDishes-items .bestDishes-item {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .bestDishes .content .bestDishes-items {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .bestDishes .content .bestDishes-items .bestDishes-item {
    width: 28%;
  }
}

.contact .content .contact-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 10px;
  background-color: #eaeaea;
  border-radius: 5px;
}
.contact .content .contact-items .contact-infos {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact .content .contact-items .contact-infos .logo {
  width: 10rem;
}
.contact .content .contact-items .contact-infos .infos-items .infos-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.contact .content .contact-items .contact-infos .infos-items .infos-item .fas {
  padding-right: 10px;
  font-size: 1.6rem;
}
.contact .content .contact-items .contact-infos .reseaux {
  display: flex;
  gap: 20px;
}
.contact .content .contact-items .contact-infos .reseaux .fab {
  font-size: 3rem;
}
.contact .content .contact-items .contact-infos .reseaux #instagram {
  color: #d94287;
}
.contact .content .contact-items .contact-infos .reseaux #facebook {
  color: #3b5998;
}
.contact .content .contact-items .contact-map {
  padding: 10px;
  height: 300px;
}
.contact .content .contact-items .contact-map .google-maps {
  width: 100%;
  height: 100%;
  border: none;
}
@media screen and (min-width: 700px) {
  .contact .content .contact-items {
    flex-direction: row;
    gap: 20px;
  }
  .contact .content .contact-items .contact-infos {
    align-items: flex-start;
    flex: 1;
  }
  .contact .content .contact-items .contact-map {
    flex: 2;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
