.bestDishes {
  background-color: $light;

  .content {
    .bestDishes-items {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 60px;

      .bestDishes-item {
        width: 100%;
        height: auto;
        border-radius: $border-radius;
        cursor: pointer;
      }
    }
  }

  @media screen and (min-width: 700px) {
    .content {
      .bestDishes-items {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;

        .bestDishes-item {
          width: 28%;
        }
      }
    }
  }
}
